<html lang="ru" data-theme="{{ request.COOKIES.theme|default:'light' }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <script src="{% static 'js/theme.js' %}" ></script>
    <script src="{% static 'js/base.js' %}" ></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/PROQNECT.png' %}" />
    <meta name="csrf-token" content="{{ csrf_token }}">
    {% block extra_css %}{% endblock %}
    {% block extra_js %}{% endblock %}
    <title>{% block title %}ProQnect{% endblock %}</title>
</head>
<body>
    {% block header %}
    <header>
        <div class="logo-container">
            <a href="{% url 'index' %}">
                <img id="site-logo" src="{% static 'images/proqfigm.svg' %}" alt="Логотип">
            </a>                   
            <h1><a href="/">Главная</a></h1>
            <h1><a href="{% url 'feed:feed' %}">Новости</a></h1>
            <h1><a href="{% url 'experts:search_experts' %}">Найти Эксперта</a></h1>
            {% if not request.user.expert_profile %}
            <h1><a href="{% url 'experts:become_expert' %}" class="profile-btn btn-secondary">Вы эксперт</a></h1>
            {% endif %}
            <h1><a href="{% url 'booking:my_bookings' %}">Мои записи</a></h1>
            <h1><a href="/about">О проекте</a></h1>
        </div>

        <div class="button-container">
            {% if user.is_authenticated %}
                <div id="notification-bell" onclick="toggleNotifications(event)">
                    <img id="notification-bell-img" src="{% static 'images/notifications.png' %}" alt="Уведомления" height="30" width="30">
                    <div id="notification-dropdown" class="dropdown-menu">
                        <p class="text-gray-500 text-sm">Нет новых уведомлений</p>
                    </div>  
                </div>

                <div class="profile-icon" onclick="toggleMenu(event)">
                    <img src="{{ request.user.profile_picture.url }}" alt="Аватарка" class="avatar">
                </div>
                
                <div id="profile-menu" class="dropdown-menu">
                    <a href="{% url 'accounts:profile' request.user.id %}">Профиль</a>
                    <a href="{% url 'accounts:settings' %}">Настройки</a>
                    <form action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="logout-btn">Выход</button>
                    </form>                    
                </div>
                
            {% else %}
                <a href="{% url 'accounts:register' %}"><button type="submit">Зарегистрироваться</button></a>
                <a href="{% url 'accounts:login' %}"><button type="submit">Войти</button></a>
            {% endif %}
        </div>
        
    </header>
    {% endblock %}

    {% block content %}
    <main>
        <div class="content">
            {% block main_content %}{% endblock %}
        </div>
    </main>
    {% endblock %}

    {% block footer %}
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-logo">
                <h2>ProQnect</h2>
                <p>Платформа для поиска <br>и консультаций с экспертами</p>
            </div>
    
            <div class="footer-links">
                <a href="#">Контакты</a>
                <a href="#">Политика конфиденциальности</a>
                <a href="#">Условия использования</a>
            </div>
    
            <p class="footer-contact">Пишите: <a href="mailto:help@proqnect.bizml.ru">help@proqnect.bizml.ru</a></p>
        </div>
    </footer>
    {% endblock %}
</body>
</html>
