{% extends "base.html" %}
{% load static %}

{% block title %}Запросы в друзья{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/friend_requests.css' %}">
{% endblock %}

{% block main_content %}
    <h1>Friend Requests</h1>
    <ul>
        {% for request in requests %}
            <li>
                {{ request.sender.username }} 
                <form action="{% url 'friends:accept_friend' request.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Accept</button>
                </form>
                <form action="{% url 'friends:remove_friend' request.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Decline</button>
                </form>
            </li>
        {% empty %}
            <li>No friend requests</li>
        {% endfor %}
    </ul>
{% endblock %}  