{% extends "base.html" %}
{% load static %}

{% block title %}Запросы в друзья{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/friends/friend_requests.css' %}">
{% endblock %}

{% block main_content %}
    <h1>Запросы в друзья</h1>
    <ul>
        {% for request in requests %}
            <li>
                {{ request.from_user.first_name }} {{ request.from_user.last_name }} 
                <form action="{% url 'friends:accept_friend' request.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Принять</button>
                </form>
                <form action="{% url 'friends:remove_friend' request.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Отклонить</button>
                </form>
            </li>
        {% empty %}
            <li>Нет запросов в друзья</li>
        {% endfor %}
    </ul>
{% endblock %}  